@font-face {
	font-family: "dream orphans";
	src: url('../police/dream orphans.ttf') format('truetype');	
}

body{
    background-image: URL("../img/bg_code.jpg");
}

.policeFont
{
    margin-top: 10%;
    font-family: "dream orphans";
    font-size: 450%;
    color: #C0C0C0;
    text-align: center;

}